{% extends "base.html" %}
{% block content %}
  <h2>Последние тренировки</h2>

  {% if not workouts %}
    <p>У вас ещё нет тренировок.</p>
  {% else %}
    <ul>
    {% for _id, w_type, dur, det, created in workouts %}
      {% set dt = created.split(".")[0] %}
      <li>{{ dt }}: {{ w_type }}, {{ dur }} мин ({{ det }})</li>
    {% endfor %}
    </ul>
  {% endif %}

  <hr>
  <h3>Добавить новую тренировку</h3>
  <form method="post" action="/workouts/add">
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <label>
      Тип: <input name="workout_type" required>
    </label><br>
    <label>
      Длительность (мин): <input type="number" name="duration" required>
    </label><br>
    <label>
      Детали: <input name="details">
    </label><br>
    <button type="submit">Добавить</button>
  </form>
{% endblock %}
